

@font-face {
    font-family: acmeFont;
    src: url(/fonts/Acme/Acme-Regular.ttf); 
}

@font-face {
    font-family: ABeeZee;
    src: url(/fonts/ABeeZee/ABeeZee-Regular.ttf);
}

/* Coolor palette */
:root {
--theme-color-main: #FFECD1 ;
--theme-color-sec: #15616D ; 
--theme-color-third: #FF7D00 ;
--theme-color-fourth: #001524 ; 
--theme-color-fifth: #78290F ;
}




* {
    font-family: ABeeZee;
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    
}




body {
    display: flex;
    flex-direction: column;
    background: var(--theme-color-main);
}

.nav {    
    display: flex;    

    gap: 20px;
}

li {    
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 900;        
    
}

a {
    color: var(--theme-color-main);    
}

a:hover {
    color: var(--theme-color-third);
    font-size: 1.2em;
}

button {
    padding: 10px;
    border-radius: 8px;
    width: 7rem;
    background: var(--theme-color-fourth);
    color: var(--theme-color-main);
    font-family: acmeFont;

    
}

.nav li:nth-of-type(4) {
    margin-left: auto;
}

.nav li:nth-of-type(5) {
    margin-right: 40px;
}
main {
    background: transparent;
    display: flex;
    flex-direction: column; 
    max-width: 80rem;
    min-width: 50rem;
    margin: 0 10rem; 

}

header {
    background-color: var(--theme-color-sec);
    height: fit-content;
    
}
footer {
    background-color: var(--theme-color-sec);

}

.contact {
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: var(--theme-color-main);
}

.contact li {
    font-size: 0.7rem;
}

/* Upper three sections */

article {
    display: flex;    
    column-gap: 40px;
    margin-bottom: 100px;
}

section {
    flex: 1;
    padding: 40px;
    padding-top: 0;
    border: 4px solid var(--theme-color-fifth);
    border-radius: 4px;
}

/* Image cabin */

.image-container {
    display: flex;
    height: 350px;
    border: 1px solid black;
    margin-bottom: 3rem;
    background-image: url(/pics/lake-cropped.png);

}div .getaway {
    display: flex;
    margin: auto 20px 20px auto;
    color: var(--theme-color-third);
    font-size: 2.5rem;
    font-family: acmeFont;
}

/* Lower sections */

.lower-sec-left {
    display: flex;
    flex-direction: column;
    height: 20rem;
    
}

.brooklyn {
    background-image: url(/pics/Brooklyn-bridge\ 2.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    margin-top: 1rem;

}

.lower-sec-right {
    overflow: auto;
    height: 20rem;
    flex: 2;
    background-color:var(--theme-color-sec);
    color: var(--theme-color-main);
}

/* Video section */
    
.tur {
    display: flex; 
    flex-direction: column;
    border: none;  
}

.tur div {
    margin: 0 auto 2rem auto;
    width: 50%;
}

/* Iframe positioning */
.tur :nth-child(2) {
    display: flex;
    justify-content: center;
}

.tur h2, .tur h3 {
    text-align: center;
}

/* Style headings */
h1 {
    font-size: 3rem;
    font-family: acmeFont; 
   
}

h2 {
    font-size: 1.5rem;
    font-family: ABeeZee;  
 
}

h3 {
    font-size: 28px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}